@import '../abstracts/variables';

.row {
  display: flex;
  flex-direction: row;
  gap: $gutter-horizontal;

  max-width: $grid-width;
  margin: 0 auto;

  @include respond('tab-port') {
    flex-direction: column;
    gap: $gutter-vertical-small;
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond('tab-port') {
      margin-bottom: $gutter-vertical-small;
    }
  }

  [class^='col-'] {
    // this allows elements to shrink/grow equally
    flex-basis: 100%;
    flex-shrink: 1;
  }

  .col-1-of-2,
  .col-1-of-3,
  .col-1-of-4 {
    flex-grow: 1;
  }

  .col-2-of-3,
  .col-2-of-4 {
    flex-grow: 2;
  }

  .col-3-of-4 {
    flex-grow: 3;
  }
}
