@import "../abstracts/variables";

.row {
  display: flex;
  flex-direction: row;
  gap: $gutter-horizontal;

  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class^="col-"] {
    // this allows elements to shrink/grow equally
    width: 100%;
  }

  .col-1-of-2,
  .col-1-of-3,
  .col-1-of-4 {
    flex-grow: 1;
  }

  .col-2-of-3,
  .col-2-of-4 {
    flex-grow: 2;
  }

  .col-3-of-4 {
    flex-grow: 3;
  }
}
