@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0px     - 600px   :   Phone
600px   - 900px   :   Tablet portrait
900px   - 1200px  :   Tablet landscape
1200px  - 1800px  :   Desktop (our normal styles apply)
1800px  - Infty   :   Big Desktop
*/

// relative units rem and em are not affected by the value set in the :root selector
// so here it is always the font-size value set by the browser
// smart people say that it is better to use ems here; (1em = 16px by default)

$breakpoints: (
  'phone': 37.5em,        // 600px
  'tab-port': 56.25em,    // 900px
  'tab-land': 75em,       // 1200px
  'big-desktop': 112.5em, // 1800px
);

@mixin respond($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $breakpoint == 'big-desktop' {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @media (max-width: $value) {
      @content;
    }
  }
}
